---
import { siteConfig } from '@/site.config';
---

<footer
  class="semibold mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top text-accent"
>
  <span class="font-semibold">
    Made with ❤️ by <a
      href={siteConfig.twitter}
      target="_blank"
      class="underline">{siteConfig.author}</a
    >
  </span>
</footer>
