---
import { siteConfig } from '@/site.config';
import SocialList from '@/components/SocialList.astro';
---

<header
  id="main-header"
  class="fixed left-0 top-0 z-20 flex h-16 w-full items-center overflow-hidden bg-bgColor px-4 md:relative md:bg-transparent md:px-0"
>
  <div
    class="pointer-events-none absolute left-1/2 top-0 -ml-[50vw] min-h-screen w-screen blur-2xl md:hidden"
  >
    <div
      class="absolute right-[25%] top-[-90%] h-full w-[75%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute left-[25%] top-[-90%] h-full w-[75%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute right-[25%] top-[-85%] h-full w-[55%] rounded-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute left-[25%] top-[-85%] h-full w-[55%] rounded-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute left-[-25%] top-[-75%] h-full w-[65%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-30 dark:opacity-5"
    >
    </div>
    <div
      class="absolute right-[-25%] top-[-75%] h-full w-[65%] rounded-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent opacity-30 dark:opacity-5"
    >
    </div>
    <div
      class="absolute left-[-30%] top-[-85%] h-full w-[85%] rounded-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent opacity-60 dark:opacity-5"
    >
    </div>
    <div
      class="absolute right-[-30%] top-[-85%] h-full w-[85%] rounded-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent opacity-60 dark:opacity-5"
    >
    </div>
  </div>

  <div class="flex w-full justify-between">
    <a
      aria-label={siteConfig.title}
      aria-current={Astro.url.pathname === '/' ? 'page' : false}
      class="group flex h-8 items-center hover:filter-none sm:relative"
      href="/"
    >
      <div title={siteConfig.title}>
        <img src="/favicon.png" height="32" width="32" />
      </div>

      <strong
        class="'max-[320px]:hidden' z-10 mb-0.5 ms-2 text-2xl text-slate-700 xs:block"
      >
        {siteConfig.title}
      </strong>
    </a>

    <SocialList />
  </div>
</header>
