---
import PageLayout from '@/layouts/Base.astro';
import BackgroundBlur from '@/components/BackgroundBlur.astro';
---

<PageLayout meta={{ title: 'Home' }}>
  <BackgroundBlur />

  <section
    class="relative mx-auto flex h-full w-full flex-col items-center justify-center gap-10"
  >
    <div class="w-full text-center">
      <span
        class="title bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 bg-clip-text text-3xl text-transparent dark:from-accent-two dark:via-accent-one dark:to-accent-two"
      >
        Thank you for installing Sidesy!
      </span>
      <p class="mt-2 text-lg font-medium">
        Your YouTube experience just got a major upgrade :)
      </p>
    </div>

    <!-- Walkthrough -->
    <div class="flex h-fit w-full flex-col gap-4">
      <div
        class="rounded-md border-2 border-red-200"
        style="position: relative; padding-bottom: 54.6875%; height: 0;"
      >
        <iframe
          src="https://www.loom.com/embed/9f29e45b93f04f65a7f5b7071293542f?sid=bd050883-78dc-4cf3-af7e-195ce89030ea"
          title="Sidesy - How to use?"
          frameborder="0"
          allowfullscreen
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
          class="rounded-md"></iframe>
      </div>

      <!-- Feedback & Donation Links -->
      <div class="flex w-full flex-row-reverse">
        <a
          href="https://buymeacoffee.com/abin.john"
          target="_blank"
          class="rounded-md border border-solid border-red-200 bg-red-400 px-4 py-2 font-medium text-slate-100 shadow-red-200 drop-shadow-md"
          >Buy my a coffee</a
        >
      </div>
    </div>
  </section>
  <!-- Debug -->
  <!--
	<div class="flex justify-between flex-wrap gap-y-1.5 mt-6 text-sm font-medium">
		<div class="text-center content-center h-10 w-10 bg-color-50"><span class="text-textColor">50</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-75"><span class="text-textColor">75</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-100"><span class="text-textColor">100</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-150"><span class="text-textColor">150</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-200"><span class="text-textColor">200</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-250"><span class="text-textColor">250</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-300"><span class="text-textColor">300</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-350"><span class="text-textColor">350</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-400">
			<span class="text-textColor">400</span>
			<span class="text-bgColor">400</span>
		</div>
		<div class="text-center content-center h-10 w-10 bg-color-450">
			<span class="text-textColor">450</span>
			<span class="text-bgColor">450</span>
		</div>
		<div class="text-center content-center h-10 w-10 bg-color-500">
			<span class="text-textColor">500</span>
			<span class="text-bgColor">500</span>
		</div>
		<div class="text-center content-center h-10 w-10 bg-color-550"><span class="text-bgColor">550</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-600"><span class="text-bgColor">600</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-650"><span class="text-bgColor">650</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-700"><span class="text-bgColor">700</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-750"><span class="text-bgColor">750</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-800"><span class="text-bgColor">800</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-850"><span class="text-bgColor">850</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-900"><span class="text-bgColor">900</span></div>
	</div>
	-->
</PageLayout>
